In [155]:
import pandas as pd
import numpy as np

In [156]:
df=pd.read_csv('/content/sample_data/heart_disease.csv')

In [157]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

## **Support Vector Machine**

In [158]:
from sklearn.model_selection import train_test_split

In [159]:
X_train,X_test,y_train,y_test=train_test_split(df[['age','sex','trestbps','chol','fbs','thalach','exang','oldpeak']],df.target,test_size=0.2)

In [160]:
from sklearn.svm import SVC

In [161]:
model2=SVC(kernel='linear')

In [162]:
model2.fit(X_train,y_train)

SVC(kernel='linear')

In [163]:
len(y_train)

820

## **ACCURACY**

In [164]:
model2.score(X_test,y_test)

0.7365853658536585

# **INPUT FORM**

In [165]:
print("Enter your Age : ")
age=int(input())

print("Enter your Gender (in lower case - male / female): ")
gender=input()
if gender=="male":
  gen=1
else:
  gen=0

print("Enter your Resting blood pressure in mm/Hg : ")
trestbp=int(input())

print("Enter your Serum Cholestoral in mg/dl : ")
chol=int(input())

print("Fasting blood sugar is greater than 120 mg/dl ? (yes/no) : ")
fbs=input()
if fbs=="yes":
  cholo=1
else:
  cholo=0

print("Enter your Maximium heart rate reached : ")
hr=int(input())

print("Has excercise induced angina ? (yes/no) : ")
exang=input()
if exang=="yes":
  exangi=1
else:
  exangi=0

print("Enter the old peak (ST Depression induced by excersice relative to rest) : ")
oldpeak=input()
oldpeake=float(oldpeak)

Enter your Age :
58
Enter your Gender (in lower case - male / female):
female
Enter your Resting blood pressure in mm/Hg :
100
Enter your Serum Cholestoral in mg/dl :
248
Fasting blood sugar is greater than 120 mg/dl ? (yes/no) :
no
Enter your Maximium heart rate reached :
122
Has excercise induced angina ? (yes/no) :
no
Enter the old peak (ST Depression induced by excersice relative to rest) :
1

In [166]:
res=model2.predict([[age,gen,trestbp,chol,cholo,hr,exangi,oldpeake]])
result=int(res)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

# **OUTPUT MODEL PREDICTION**

In [167]:
if result==1:
  print("PREDICTED TO HAVE A HEART DISEASE !!!")
else:
  print("PREDICTED NOT TO HAVE A HEART DISEASE !!!")

PREDICTED TO HAVE A HEART DISEASE !!!